<div fxLayoutGap="12px">
  <app-select-option
    *ngFor="let config of _widget.chartConfig; let i = index"
    [options]="lineColorList"
    [selectedValue]="config.color"
    [label]="i === 0 ? 'Primary' : 'Secondary'"
    (selectionChanged)="onLineColorChange($event, i)"
  ></app-select-option>

  <app-select-option
    [options]="chartTypes"
    [selectedValue]="_widget.type"
    [label]="'Type'"
    (selectionChanged)="onChartTypeChange($event)"
  ></app-select-option>
</div>
