<div mat-dialog-title fxLayoutAlign="space-between center">
  <span>{{data.title}}</span>

  <button mat-icon-button (click)="onClose()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content fxLayoutGap="12px">
  <app-select-option
    [options]="data.lineColorList"
    [label]="'Secondary sensor color'"
    (selectionChanged)="onLineColorChange($event)"
  ></app-select-option>

  <app-select-option
    [options]="data.sensorsList"
    [label]="'Secondary sensor'"
    (selectionChanged)="onChartSensorChange($event)"
  ></app-select-option>
</div>

<div mat-dialog-actions align="end">
  <button
    mat-button
    [disabled]="disabled"
    (click)="addNewChart()">
    OK
  </button>

  <button mat-button mat-dialog-close>
    Close
  </button>
</div>
