<div mat-dialog-title fxLayoutAlign="space-between center">
  <span>{{data.title}}</span>

  <button mat-icon-button (click)="onClose()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <p>{{data.content}}</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="closeWithOk()">
    OK
  </button>

  <button mat-button mat-dialog-close>
    Close
  </button>
</div>
