<ng-container *ngIf="widgetList.length">

  <h1>Current Location: {{userCityName}}</h1>

  <div class="widgets-wrapper-page">
    <div class="forecast-mode-controls" fxLayoutAlign="center center">
      <app-toggle-group
        [value]="weatherInterval"
        [options]="weatherForecastMode"
        (optionChanged)="onForecastModeChange($event)"
      ></app-toggle-group>
    </div>

    <div [ngClass.gt-sm]="widgetList.length > 1 ? 'grid-container' : ''">
      <div class="widget-item" *ngFor="let widget of widgetList; let i = index; trackBy: trackByFn" fxLayoutGap="6px">
        <ng-container *ngIf="!isLoading; else loading">
          <button mat-icon-button class="widget-item-settings-icon" [matMenuTriggerFor]="settingsMenu">
            <mat-icon class="widget-item-settings-icon">settings</mat-icon>
          </button>

          <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item (click)="onAddChart(widget, i)" *ngIf="widget.chartConfig.length < 2">
              Add sensor
            </button>

            <button mat-menu-item (click)="onRemoveChart(i)">
              Remove
            </button>
          </mat-menu>

          <app-high-charts
            [weatherInterval]="weatherInterval"
            [dataSource]="_dataSource"
            [widget]="widget"
            [widgetIndex]="i"
          ></app-high-charts>
        </ng-container>

        <ng-template #loading>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
  </div>

</ng-container>
