@import 'src/assets/scss/ui-kit/space';

.widgets-wrapper-page {

  .forecast-mode-controls {
    margin: $space-m;
  }

  .widget-item {
    min-height: 320px;
    position: relative;

    .widget-item-settings-icon {
      position: absolute;
      top: $space-s;
      right: $space-s;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  }
}
