<mat-form-field>
  <mat-label>{{label}}</mat-label>

  <mat-select
    [(value)]="_selectedValue"
    (selectionChange)="selectionChanged.emit($event.value)"
  >
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{option.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
