<h1 class="widget-setup-form-header">Please select widget settings</h1>

<form
  [formGroup]="widgetConfigForm"
  (ngSubmit)="formSubmitted.emit(widgetConfigForm.value)"
  #formDirective="ngForm"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutAlign.lt-md="center center"
>
  <div fxLayoutGap="12px" fxLayout="column" fxLayout.gt-xs="row">
    <mat-form-field>
      <mat-label>Chart Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let chartType of chartTypes" [value]="chartType.value">
          {{chartType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sensor</mat-label>
      <mat-select formControlName="sensor">
        <mat-option *ngFor="let sensor of sensorsList" [value]="sensor">
          {{sensor.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let chartColor of lineColorList" [value]="chartColor.value">
          {{chartColor.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="widgetConfigForm.invalid || errorMessage !== null">Add widget</button>
</form>
