<div class="high-chart">

  <div class="widget-config-editor">
    <app-chart-config-editor
      [widget]="_widget"
      (widgetConfigChanged)="onWidgetConfigChange($event)"
    ></app-chart-config-editor>
  </div>

  <highcharts-chart
    [Highcharts]="highCharts"
    [options]="chartOptions"
    class="main-chart"
  ></highcharts-chart>

</div>

