@import 'src/assets/scss/ui-kit/space';

.dashboard-page {
  margin: $space-m;

  .dashboard-page-status-message {
    padding: 40px 80px;

    .status-messages-text {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
