<div class="dashboard-page" fxLayout="column"
>
  <app-widget-setup-form
    [errorMessage]="errorMessage"
    (formSubmitted)="fetchData($event)"
  ></app-widget-setup-form>

  <app-widgets-wrapper
    [dataSource]="dataSource"
  ></app-widgets-wrapper>

  <ng-contanter *ngIf="errorMessage">
    <div class="dashboard-page-status-message">
      <p class="status-messages-text">{{errorMessage}}</p>
    </div>
  </ng-contanter>
</div>
